@import "../style.scss";

.article{
    width : 100%;
    min-height : 100vh;
    background: $linear;
	background-size : 200% 200%;
    animation : gradient 15s infinite;
    padding : 3.125vw;

    &_container{
        display : flex;
        flex-direction: column;
        gap : 6.25vw;
        padding : 6.25vw;
        background-color: $blanc;
        border-radius : 25px;
        width : 100%;
        height : 100%;

        &-title{
            display : flex;
            flex-direction: column;
        }

        &-content {
            display : flex;
            gap: 3.125vw;
        
            &--img {
                width: 30vw;
                min-width : 30vw;
                height : 30vw;
                //max-height : 40vw;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius : 15px;
                    
                }
            }
        
            &--txt {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap : 3.125vw;
                width: 100%;
            }
        } 
    }
}