@import "../style.scss";


.login{
    display : flex;
    flex-direction: column;
    gap : 5vh;
    width : 100%;


    &_container{
        position : relative;
        display : flex;
        flex-direction: column;
        gap : 2vh;

        fieldset{

            input{   
                width : 100%;
                min-height : 6vh;
                padding : 0 15px;
                border-radius : 100vmax;
                background-color: $gris;
                font-weight : 600;
                color : $noir;

                &:-webkit-autofill {
                    -webkit-box-shadow:0 0 0 50px $gris inset;
                    -webkit-text-fill-color: $noir;
                }
                
                &:-webkit-autofill:focus {
                    -webkit-box-shadow: 0 0 0 50px $gris inset;
                    -webkit-text-fill-color: $noir;
                } 
            }
             
        }

        .error-message{
            position : absolute;
            top : calc(100% + 3px);
            left : 15px;
            font-size : .8vw;
            font-weight : 600;
            color : $primary;
        }
    }
}
   
