.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    width : fit-content;
    min-height : 6vh;
    padding : 0 2vw;
    font-weight : 600;
    cursor : pointer;
    border-radius: 100vmax; 
    border : none;
    text-wrap: nowrap;
    transition : .3s ease;
    z-index : 1;

    &_primary{
        background-color: $orange;
        color : $blanc;
    }

    &_gris{
        background-color: $gris;
        color : $gris-dark;
    }

    &_gris-dark{
        background-color: $gris-dark;
        color : $blanc;
    }

    &_linear{
        background : $linear;
        color : $blanc;
    }

    &_petit{
        padding : 1vh 1vw;
        min-height : fit-content;
    }

    &_grand{
        padding : 0 3vw;
        min-height : 7vh;
        font-size : 1.2vw;
    }
}