.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    width : fit-content;
    min-height : 6vh;
    padding : 0 2vw;
    font-weight : 600;
    cursor : pointer;
    border-radius: 100vmax; 
    border : none;
    transition : .3s ease;
    z-index : 1;

    &_primary{
        background-color: $primary;
        color : $gris-dark;
    }

    &_gris{
        background-color: $gris;
        color : $gris-dark;
    }
}