.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    width : fit-content;
    min-height : 6vh;
    padding : 0 2vw;
    font-weight : 600;
    cursor : pointer;
    border-radius: 100vmax; 
    border : 2px solid transparent;
    background-color: $primary;
    color : $blanc;
    transition : .3s ease;
    z-index : 1;

    &:hover{
        color : $primary;
        background-color: transparent;
        border : 2px solid $primary;
    }
}