@import "../style.scss";

.nav{
    display : flex;
    justify-content: flex-end;
    width : auto;
    height : 100%;
    padding : 2.5vw;
    background-color: $blanc;
    border-radius : 25px;
    z-index : 100;


    &_links{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        

        &-content{
            display : flex;
            flex-direction: column;
            gap : 2.5vw;

            &--link{  
                color : $gris-dark;   
                text-wrap: nowrap;    
                cursor: pointer;  
            }
        }

        
    }

    &_menu{
        position : relative;
        display : none;
        width : 8vw;
        height : 6vw;

        &-barre{
            position : absolute;
            left : 0;
            width : 100%;
            height : 2px;
            background-color: $primary;
            will-change : transform;
            transition : .5s ease;

            &:nth-child(1){
                top : 0;
                transform-origin : top;
            }

            &:nth-child(2){
                top : 50%;
                transform : translateY(-50%);
            }

            &:nth-child(3){
                bottom : 0;
                transform-origin : bottom;
            }
        }

        &.active{
            .nav_menu-barre:nth-child(1){
                top : 50%;
                transform : translateY(-50%) rotate(45deg) ;
            }

            .nav_menu-barre:nth-child(2){
                opacity : 0;
            }

            .nav_menu-barre:nth-child(3){
                top : 50%;
                transform : translateY(-50%) rotate(-45deg) ;
            }
        }

        @media screen and (max-width:990px){
            display : flex;      
        }
    }
}